<%- include partials/header %>

<div class="container d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 100px)">
	<div class="col-md-6 login-border">
	<h2 class="text-center"> Registration Form</h2>
	<form action="/register" method="POST">

		<div class="form-group">
			<label class="text-uppercase">Username</label>
			<input type="text" class="form-control" name="cuser" placeholder="johnsmith">
		</div>

		<div class="form-group">
			<label class="text-uppercase">Password</label>
			<input type="password" class="form-control" name="cpass" placeholder="••••••••">
		</div>
		
		<div class="form-group">
			<label class="text-uppercase">E-Mail</label>
			<input type="email" class="form-control" name="email" placeholder="John-Smith@Hotmail.com">
		</div>

		<div class="form-group">
			<label class="text-uppercase">Shipping Address</label>
			<input type="text" class="form-control" name="ship_addr" placeholder="Ramallah, Al-Irsal">
		</div>

		<div class="form-group">
			<label class="text-uppercase">Phone Number</label>
			<input type="tel" class="form-control" name="phone" placeholder="0591234567">
		</div>

		<div class="form-check">
			<label class="form-check-label">
			<button type="submit" class="btn btn-login float-right">Submit</button>
		</div>

	</form>
	</div>
	<% if(typeof errors !== 'undefined'){ %>
		<div class="col-md-3">
		<% errors.forEach( (err)=>{ %>
		<div class="alert alert-danger"> <%= err.msg %> </div>
		<% }) %>
		</div>
		<% } %>
		
		<% if(flash) {%>
		<% let alerttype = (Object.keys(flash)[0] == "regsucc") ? "alert-success" : "alert-danger"; %> 
		<div class="col-md-3">
			<div class="alert <%= alerttype %>"> <%= flash[Object.keys(flash)[0]] %> </div>
		</div>
		<% } %>
</div>



<%- include partials/footer %>